/* -- Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
/* -- Styles -- */
/* Pages */
.Home {
  color: white;
  background-color: #00000000;
  margin: 10px;
  text-align: center;
}






/* App */
.App {
  text-align: center;
}
#root {
  width: 100vw; /* Viewport width */
  height: 100vh; /* Viewport height */
  margin: 0; /* Remove default margin */
  background-color: #3e3e3e;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  display: flex;
  align-items: center;  /* Center vertically */
  justify-content: center;  /* Center horizontally */
  min-height: 100vh;  /* Full viewport height */
  text-align: center;  /* Optional: centers text inside */

}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Navbar-Title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #61dafb;
}
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it covers the full viewport height */
}

.content-wrapper {
  flex: 1; /* Expands to take the available space */
}
.footer {
  color: white;
  background-color: #00000000;
  padding: 1rem;
  flex: 0 0 auto; /* Prevents it from growing */
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom */
}
.App-link {
  color: #61dafb;
}
.App-logo {
  height: 5rem; /* Adjust to match your navbar height */
  margin-right: 0.5rem; /* Optional: Adds space between logo and title */
  filter: drop-shadow(0 0 10px rgb(168, 19, 19))  /* First glow layer */
          drop-shadow(0 0 20px rgb(216, 216, 28))  /* Second glow layer */
          drop-shadow(0 0 30px rgb(17, 27, 145)); /* Third glow layer */
  animation: neonGlow 3.0s infinite alternate;
}

/* Animations */
@keyframes sway {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
@keyframes neonGlow {
  from {
    filter: drop-shadow(0 0 2px rgb(255, 8, 218)) drop-shadow(0 0 10px rgb(235, 144, 9));
  }
  to {
    filter: drop-shadow(0 0 4px rgb(35, 188, 253)) drop-shadow(0 0 15px #0ff);
  }
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}